@tailwind base;
@tailwind components;
@tailwind utilities;


nav > .nav-child {
  padding: 10px;
}

nav>.nav-child:last-child {
  margin-left: 20px;
}

nav>.nav-child:hover {
  cursor: pointer;
  color: cyan;
}

.vl {
  border-left: 2px solid white;
  height: 20px;
  margin: 0 10px;
}

.stripe-wrapper {
  max-width: 900px;
}

.stripe {
  /* border-left: 20px solid cadetblue; */
  /* height: 500px; */
  margin-left: 2px;
}

nav>.nav-child.selected {
  color: cyan;
}


.sort-button {
  position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}