@tailwind base;
@tailwind components;
@tailwind utilities;

nav > .nav-child {
  padding: 10px;
}

nav>.nav-child:hover {
  cursor: pointer;
  color: antiquewhite;
}

.vl {
  border-left: 2px solid white;
  height: 20px;
  margin: 0 10px;
}

.stripe-wrapper {
  max-width: 900px;
}

.stripe {
  border-left: 20px solid cadetblue;
  /* height: 500px; */
}