@tailwind base;
@tailwind components;
@tailwind utilities;


nav > .nav-child {
  padding: 10px;
}

nav>.nav-child:last-child {
  margin-left: 20px;
}

nav>.nav-child:hover {
  cursor: pointer;
  color: cyan;
}

.stripe {
  margin-left: 2px;
}

.vl {
  border-left: 2px solid white;
  height: 20px;
  margin: 0 10px;
}

.stripe-wrapper {
  max-width: 900px;
}

nav>.nav-child.selected {
  color: cyan;
}


.sort-button {
  position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

@keyframes animateBorder {
  0%,
  33% {
      border-color: lightgreen;
    }
  
    34%,
    70% {
      border-color:cyan;
    }
  
    70%,
    100% {
      border-color: dodgerblue;
    }
}

.animate-swap {
  animation: animateBorder 200ms cubic-bezier(.36, .07, .19, .97);
}

.disabled {
  color: maroon;
  /* background-image: */
      /* linear-gradient(to right, red, maroon); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* animation: text-color-animation 5s linear infinite; */
    pointer-events: none;
    /* opacity: 0.7; */
}

@keyframes text-color-animation {
  /* to {
      background-position: -4500vh;
    } */

    from {
      border-color: lightgreen;
    }

    to {
      border-color:violet;
    }
}

.text-animate-end {
  /* border-color: red !important; */
  animation: text-color-animation 1s step-end both;
}